@import url('/node_modules/normalize.css/normalize.css');

:root {
  font-size: 10px;

  --main-bg: #eee;
  --main-color: #333;
  --coffee: #c0ffee;
  --cocoa: #c0c0aa;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: var(--main-bg);
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

.grid {
  margin: 2rem auto;
  padding: 20px;
}

.container + .container {
  margin-top: 4rem;
}

.left {
  background: var(--coffee);
}

.right {
  background: var(--cocoa);
}

ol {
  color: white;
  margin-bottom: 0;
}

p {
  background-color: white;
  margin: 0;
}
