:root {
  font-size: 10px;

  --main-color: rgb(0, 0, 0);
  --coffee: #4b2e16;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: var(--coffee);
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

.grid {
  margin: 2rem auto;
  padding: 20px;
}

.container + .container {
  margin-top: 5rem;
}

.left {
  background: wheat;
}

.right {
  background: lavender;
}
